
/* ************************** */
.container{
	display: grid;
 grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
 grid-gap: 1rem;
} 
/* ********************** */


/* *{
	margin:0px;
	padding: 0px; 
	overflow-x: hidden;
}



.container{
	width:100vw;
	height: 100vh;
	background-color: grey;
	position:relative;
	top: 0;
	left: 0;
	right: 0;
	display: grid;
	overflow-y: auto;
	overflow-x: hidden;
	padding:20px 0;
	grid-template-columns: repeat(12 , 400px);
	grid-template-rows: auto;	
	grid-gap: 20px;
} */



.items13{
	background-color: red;
}

.items12{
	background-color: black;
}

.items11{
	background-color: green;
}

.items10{
	background-color: red;
}

.items9{
	background-color: green;
}

.items8{
	background-color: yellow;
}

.items7{
	background-color: white;
}

.items6{
	background-color: orange;
}

.items5{
	background-color: blue;
}

.items4{
	background-color: gray;
}

.items3{
	background-color: green;
}

.items2{
	background-color: orange;
}

.items1{
	background-color: white;
}